<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/Piccasso/css")
	@RenderSection("styles", required: false)
	<title>@ViewBag.Title</title>
</head>
<body class="home-page template-home-one-page">
	<div class="container">
		<header id="header">
			<a href="@Url.Action("Index", "Home")" class="logo">
				<img src="/Content/images/gsti-logo.jpg" alt="logo" />
			</a>
			<a href="javascript:;" class="show-on-phone show-on-tablet" id="phone-toggle-menu"></a>
			<div class="social-links">
                <span style="color: #ff6a00"><i class="fa fa-headphones"></i></span>
                <span style="color: #333 !important;font-size: 14px">(19) 3241-5688</span>
				<!--<a href="javascript:;" class="facebook show-tooltip" data-gravity="ne" original-title="Facebook"><i class="fa fa-facebook"></i></a>
				<a href="javascript:;" class="twitter show-tooltip" data-gravity="ne" original-title="Twitter"><i class="fa fa-twitter"></i></a>
				<a href="javascript:;" class="linkedin show-tooltip" data-gravity="ne" original-title="Linkedin"><i class="fa fa-linkedin"></i></a>-->
			</div>
			<nav style="float:right">
				<ul id="header-menu" class="hide-on-phone hide-on-tablet">
					<li class="current-menu-item"><a href="#slider">Home</a></li>
					<li><a href="#about">GSTI</a></li>
					<li><a href="#portfolio">Parceiros</a></li>
					<li><a href="#testimonials">Cases</a></li>
					<li><a href="#location">Localização</a></li>
					<li><a href="#contact">Contato</a></li>
				</ul>
			</nav>
		</header>
		<div id="content">
			<section class="slider" id="slider">
				<ul class="sequence-canvas">
					<li class="slide slide-1">
						<h1 class="layer-1" style="font-size: 80px">
							GS TI & GS LOC<br />
							<span style="font-size: 18px">Infraestrutura e Locação de equipamentos</span>
						</h1>
					</li>
					<li class="slide slide-2">
						<h1 class="layer-1" style="font-size:28px">
							A infraestrutura de sua empresa em nossas
							<br /><span style="font-size: 40px">Mãos</span>
						</h1>
					</li>
				</ul>
				<a href="javascript:;" class="sequence-prev"></a>
				<a href="javascript:;" class="sequence-next"></a>
			</section>
			@RenderBody()
		</div>
		<footer id="footer">
			<div class="wrapper centered">
				&copy; GSIntegradora - Todos os direitos reservados.
			</div>
		</footer>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/Piccasso/js")
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
